@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
}

.row {
  display: flex;
  flex-grow: 1;
  padding: 2em;
}

.inputContainer {
  display: flex;
  flex-grow: 1;
  align-self: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  max-height: 90%;
  padding: 2em;
  background-color: #303030;
  border-radius: 0.5em;
}

.leftCol {
  justify-content: flex-start;
  align-items: flex-start;
}

.rightCol {
  justify-content: flex-end;
  align-items: flex-end;
}

.inputHeader {
  margin-bottom: 1em;
}

.header {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
}

p {
  font-size: calc(10px + 1vmin);
  margin: 0;
}

svg {
  display: flex;
}
