.chat {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-grow: 1;
  height: 80%;
}

.chatBox {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #6d6d6d;
  color: rgb(34, 34, 34);
  text-align: start;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 0 1em;
  flex-grow: 1;
  border-radius: 0.5em;
}

.chatMessages {
  font-size: calc(10px + 1vmin);
  padding-bottom: 0.6em;
}

.chatInputs {
  display: flex;
  gap: 1em;
}
