.playerContainer {
  display: flex;
  flex-grow: 1;
  padding: 1em;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-left: 3em;
  padding-top: 1em;
}

.mainInfo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #303030;
  color: white;
  border-radius: 1em;
  padding: 0.5em;
  box-shadow: 0px 0px 15px 1px #002855;
  border: 2px solid transparent;
}

.isTurn {
  position: absolute;
  top: -5%;
  right: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: yellow;
  box-shadow: 0px 0px 3px 1px black;
}

.playerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding-top: 1em;
}

.playerContainer .playerCards {
  justify-content: flex-start;
}

.bet {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  border-radius: 50%;
  padding: 20%;
  height: 0;
  width: 0;
  margin: auto;
  font-size: calc((7vmin - 1rem) / 5);
}

.cardImage {
  height: 56px;
  width: 40px;
  -webkit-user-drag: none;
}

.ownCardImage {
  -webkit-user-drag: none;
  height: calc(1.4 * 10vh);
  width: 10vh;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
  z-index: 50;
}

.ownCardImage:hover {
  top: -1em;
  cursor: pointer;
}

.ownCardImage:not(:first-of-type) {
  margin-left: -6vmin;
}

.opponentCard:not(:last-of-type) {
  margin-right: -2em;
}

.aceCard {
  margin-left: 0 !important;
  margin-right: 1em;
}

.disabledCard {
  pointer-events: none;
}

.selectedCard {
  filter: sepia(1) saturate(5);
}

.playerCards::-webkit-scrollbar {
  height: 6px;
}
