.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 90vw;
}

.gamesRow {
  display: flex;
  justify-content: space-around;
  background-color: rgb(48, 48, 48);
  padding: 2em 5em;
  border-radius: 1em;
  margin-bottom: 2em;
}

.game {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  font-size: calc(10px + 1.3vmin);
  padding: 2vh;
  border-radius: 1em;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
}

.game:hover:not(.activeGame) {
  box-shadow: 0 5px 10px rgba(160, 169, 160, 0.25), 0 5px 5px rgba(160, 160, 160, 0.22);
}

.activeGame {
  background-color: #4cc9f0;
  border: 2px solid black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.moreInfo {
  display: flex;
  flex-grow: 1;
  background-color: rgb(48, 48, 48);
  padding: 2em 5em;
  margin-bottom: 2em;
  border-radius: 1em;
  height: 50vh;
}

.listContainer {
  overflow-y: auto;
}

.playerList {
  font-size: calc(10px + 1.3vmin);
  padding-bottom: 0.8em;
  color: snow;
}

.subheader {
  margin-bottom: 1em;
  color: #5390d9;
}

.container > h1 {
  margin-bottom: 1em;
}
