.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 90vw;
  padding-top: 2em;
}

.gamesRow {
  display: flex;
  justify-content: space-around;
  background-color: rgb(48, 48, 48);
  padding: 2em 5em;
  border-radius: 1em;
  margin-bottom: 2em;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moreInfo {
  display: flex;
  flex-grow: 1;
  background-color: rgb(48, 48, 48);
  padding: 2em 5em;
  margin-bottom: 2em;
  border-radius: 1em;
  height: 50vh;
}

.listContainer {
  overflow-y: auto;
}

.playerList {
  font-size: calc(10px + 1.3vmin);
  padding-bottom: 0.8em;
  color: snow;
}

.subheader {
  margin-bottom: 1em;
  color: #5390d9;
}

.container > h1 {
  margin-bottom: 1em;
}
